.section
    &-who-we-are
        @extend .section
        background-color: $mint
        position: relative
        margin-bottom: 25px
        padding: $section-padding-medium

        &::after
            position: absolute
            content: ''
            display: block
            background-color: $mint
            width: 50px
            height: 50px
            left: 50%
            top: 100%
            margin-left: -25px
            margin-top: -25px
            transform: rotate(45deg)

        .container
            display: grid
            grid-template-columns: repeat(12, minmax(0, 1fr))
            grid-template-rows: 4fr 1fr 1fr
            grid-gap: $gap * 2
            align-items: center

            @media screen and (max-width: $tablet)
                grid-template-columns: minmax(0, 1fr)
                grid-template-rows: 1fr 0.5fr 0.25fr 2fr
                grid-gap: 0
                justify-items: center
                align-items: stretch
                min-width: 0

            .jacob-image
                grid-column: 1 / 7
                grid-row: 1 / span 2
                width: 100%
                box-shadow: $card-shadow

                @media screen and (max-width: $tablet)
                    grid-column: 1
                    grid-row: 1 / span 1

            .card
                &-jacob
                    @extend .card

                    grid-column: 2 / 6
                    grid-row: 2 / span 2 
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-content: center

                    @media screen and (max-width: $tablet)
                        grid-column: 1
                        grid-row: 2 / span 1
                
                .quote
                    font-style: italic
                
                .author
                    padding-top: 1rem 
                    font-weight: bold
                    color: black
            
            .copy
                grid-column: 7 / 13
                grid-row: 1 / span 2
                height: fit-content
                width: fit-content

                @media screen and (max-width: $tablet)
                    grid-column: 1
                    grid-row: 4 / span 1

                .card-content
                    padding: $card-padding
                    max-width: 50ch

                    @media screen and (max-width: $tablet)
                        padding: $card-padding-mobile

                    .title
                        margin-bottom: $title-margin
