.card
  &-employees,
  &-publication
    @extend .card
    padding: $card-padding
    @media screen and ( max-width: $tablet )
      padding: 0
      .card-content
        padding: $card-content-padding

  &-about
    @extend .card
    margin: 0 auto
    box-shadow: $card-shadow
    width: max-content

    .card-content
      max-width: 50ch
      padding: $card-padding

      @media screen and (max-width: $tablet)
        padding: $card-padding-mobile

        .title
          margin-bottom: $title-margin

  &-employees
    flex: 1
    margin: 0 auto
    justify-self: center
    max-width: $desktop
    .card-content
      .team
        display: flex
        margin-top: 2rem
        flex-wrap: wrap
        justify-content: space-around
        align-items: center

  &-publication
    .card-content
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: space-between

      @media screen and ( max-width: $tablet )
        flex-direction: column

      .content
        max-width: 50%
        margin-right: $gap

      .image
        flex: 1
        max-width: 500px

      @media screen and ( max-width: $tablet )
        .content
          min-width: 100%
          margin-right: 0

        .image
          min-width: 100%

  &-hero
    @extend .card
    box-shadow: $card-shadow
    width: fit-content
    margin: 0 auto

    .card-body
      max-width: 50ch
      padding: $card-padding

      @media screen and (max-width: $tablet)
        padding: $card-padding-mobile

.card-header-title
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
